<div class="form-check form-switch">
    <input class="form-check-input"
           type="checkbox"
           role="switch"
           id="@_id"
           checked="@Value"
           @onchange="OnValueChanged" />
    <label class="form-check-label" for="@_id">@Description</label>
</div>